*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}


@media (max-width : 900px){
    body{
        background-color: lightyellow;
    }
}
@media (max-width : 600px){
    body{
        background-color: lightblue;
    }
}
@media (min-width : 600px) and (max-width : 900px){
    body{
        background-color: lightgreen;
    }
}