*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    gap: 20px;
}
.box1{
    width: 100px;
    height: 100px;
    background-color:  blue;
    padding: 10px;
    border: 1px solid red;
}
.box2{
    width: 100px;
    height: 100px;
    background-color:  red;
    padding: 20px;
    border: 2px solid green;
}
